img{
    width: 50px;
    height: 50px;
    border:none;
}
i{
    color:#F9D71C;
}
.name{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.name span{
    font-size: 15px;

}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.profile{
    display: flex;
    align-items: center;
}
.hover{
    cursor:pointer;
   width: 1000px;
}
body{
   
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%);
  }
  

/*  html.css */
.container-lg {
    /* background: rgb(2, 0, 36); */
    color:white;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%); */
    height: 99vh;
    font-family: 'Open Sans', sans-serif;
     
  
}

a:hover{
    text-decoration: underline;
    color:white;
}

.fa-bars{
    font-size: 30px;
}

.bgc{
    background-color:#00CA4D;
}
.header {

    height: 3rem;
    position: static;
}
.bdy{
    display: flex;
    align-items: center;
    height: 700px;
}

.login {
    width: 350px;
    height: 380px;
    padding: 40px;
}

button {
    border: none;
}

.menu-button {
    background-color: transparent;
    border: 1px solid white;
}

input {
    outline: none;
    border: none;
    padding: 3px;
    /* background-color: #e9ecef; */
    background-color: rgba(0, 0, 0, 0.031);
    padding: 10px;
}

li {
    cursor: pointer;
}



/*   media query */
@media (max-width:1000px)
{


 .menu_top{
   /* background-color: red; */
   height:400px;
   align-self: center;
   z-index: 1;
   position: absolute;   
   overflow: hidden;
    top:50px;
    
   right: -5px;
   
 }
 .menu_top ul{
    border-radius: 10px;
    background: linear-gradient(250deg, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 90%); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items:center;
    min-width:100% ;
    
    
 }
 .show{
    display: none;
 }
 .menu_top ul li{
    
    margin-bottom: 20px;   
    margin-top: 20px;
 }


 .menu_top button{
    display: none;
 }
 
}
@media (min-width:1000px)
{
 .top_icon {
    display: none;
 }

} 
/* END media query */



